.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Đảm bảo các mục phân trang hiển thị theo hàng ngang */
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  .up-arrow {
    animation: bounce 2s infinite;
  }
  